## [문제] 0~9 사이의 정수를 입력 받아 반환하는 함수를 만드시오
- 입력 값이 숫자가 아닐 경우에는 예외 처리를 통해 적절한 메세지 출력후 다시 입력을 받는다
- 입력 값이 범위 밖일 경우 "0~9 사이의 정수만 입력하세요" 출력후 다시 입력
- 정상적으로 입력된 값을 출력한다.
- 예시 ) > 0~9 사이의 정수를 입력하세요 : a
         > 숫자만 입력하세요
         > 0~9 사이의 정수를 입력하세요 : 10
         > 0~9 사이의 정수를 입력하세요
         > 0~9 사이의 정수를 입력하세요 : 8
         > 입력받은 정수

In [6]:
def printNum():
    while True:
        try:
            num = int(input("0~9 사의 정수를 입력하세요 : "))
        except ValueError as e:
            print("숫자만 입력하세요.")
            continue
        if num in range(10):
            print("입력받은 정수 :", num)
            return
        else:
            print("0~9 사이의 정수를 입력하세요")
        
printNum()

0~9 사의 정수를 입력하세요 : a
숫자만 입력하세요.
0~9 사의 정수를 입력하세요 : b
숫자만 입력하세요.
0~9 사의 정수를 입력하세요 : c
숫자만 입력하세요.
0~9 사의 정수를 입력하세요 : 9.0
숫자만 입력하세요.
0~9 사의 정수를 입력하세요 : 8
입력받은 정수 :  8

In [8]:
def inputNumber():
    n = 0
    try:
        while True:
            n = int(input("0~9 사이의 정수를 입력하세요 : "))
            if n in range(10):
                break
            else:
                print("0~9 사이의 정수를 입력하세요!")
    except ValueError as e:
        print("숫자만 입력하세요!")
        n = inputNumber()
        
    return n

result = inputNumber()
print("입력받은 정수 :", result)

0~9 사이의 정수를 입력하세요 : a
숫자만 입력하세요!
0~9 사이의 정수를 입력하세요 : b
숫자만 입력하세요!
0~9 사이의 정수를 입력하세요 : 10
0~9 사이의 정수를 입력하세요!
0~9 사이의 정수를 입력하세요 : 9
입력받은 정수 : 9

## Python Class

In [15]:
class Human:
    def __init__(self, age, name):
        self.age = age
        self.name = name
    
    def intro(self):
        print("저는 %d살 %s입니다." %(self.age, self.name), end=" ")
        
kim = Human(34, "천양현")
kim.intro()

lee = Human(19, "고3")
lee.intro()

저는 34살 천양현입니다. 저는 19살 고3입니다.

In [17]:
class Student(Human):
    def __init__(self, age, name, stdNo):
        super().__init__(age, name)
        self.stdNo = stdNo
        
    def intro(self):
        super().intro()
        print("학번은 %s입니다." %self.stdNo)
    
    def study(self):
        print("Study Hard~")

jim = Student(29, "Joe", "2011")
jim.intro()
jim.study()

print(jim.stdNo)

저는 29살 Joe입니다. 학번은 2011입니다.
Study Hard~
2011

In [24]:
class Date:
    def __init__(self, month):
        self._inner_month = month
        
    def getMonth(self):
        print("getMonth() call")
        return self._inner_month
    
    def setMonth(self, month):
        if month in range(1,13):
            self._inner_month = month
        print("setMonth() call")
    
    month = property(getMonth, setMonth)
    
today = Date(9)

today.month = 13
print(today.getMonth())

setMonth() call
getMonth() call
9

In [30]:
class Date:
    def __init__(self, month):
        self._inner_month = month
        
    @property    # getter
    def month(self):
        return self._inner_month
    
    @month.setter
    def month(self, month):
        if month in range(1,13):
            self._inner_month = month
            
today = Date(14)

today.month = 9

print(today.month)

9