In [7]:
coffee = set(['아메리카노', '카푸치노', '카라멜 마키아또', '바닐라 라떼'])
print(coffee)

fruit = {'apple', 'banna', 'pear', 'orange', 'pineapple'}
print(fruit)
print(type(fruit))

coffee.add('콜드브루')
coffee.add('아메리카노')
print(coffee)

{'카푸치노', '아메리카노', '카라멜 마키아또', '바닐라 라떼'}
{'pineapple', 'pear', 'apple', 'banna', 'orange'}
<class 'set'>
{'카푸치노', '카라멜 마키아또', '콜드브루', '아메리카노', '바닐라 라떼'}

In [12]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

c = a.union(b)
print(c)
print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}

# comprehension

In [21]:
a = [1,3,2,5,6,10,55,78,62,23,7]

b = [i*10 for i in a ]
print(b)

b2 = [i*2 for i in a if not i%2]
print(b2)

[10, 30, 20, 50, 60, 100, 550, 780, 620, 230, 70]
[4, 12, 20, 156, 124]

## [문제] 1~100 사이의 정수를 발생시켜서 3의 배수이거나 5의 배수인 데이터만 리스트에 포함하는 코드를 작성

In [26]:
a = [i for i in range(1,101) if ((not i%3)or(not i%5))]

print(a)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99, 100]

In [28]:
song ='''I heard that you're settled down
That you found a girl and you're married now
I heard that your dreams came true
Guess she gave you things, I didn't give to you
Old friend, why are you so shy?
Ain't like you to hold back or hide from the light
'''

wordList = song.lower().split()

result = {word : wordList.count(word) for word in wordList}

print(result)

{'i': 3, 'heard': 2, 'that': 3, "you're": 2, 'settled': 1, 'down': 1, 'you': 5, 'found': 1, 'a': 1, 'girl': 1, 'and': 1, 'married': 1, 'now': 1, 'your': 1, 'dreams': 1, 'came': 1, 'true': 1, 'guess': 1, 'she': 1, 'gave': 1, 'things,': 1, "didn't": 1, 'give': 1, 'to': 2, 'old': 1, 'friend,': 1, 'why': 1, 'are': 1, 'so': 1, 'shy?': 1, "ain't": 1, 'like': 1, 'hold': 1, 'back': 1, 'or': 1, 'hide': 1, 'from': 1, 'the': 1, 'light': 1}

## zip(),  enumerate()

In [33]:
days = ["월", "화", "수", "목", "금", "토", "일"]

print(list(enumerate(days)))

for i,item in enumerate(days):
    print(i, item)

[(0, '월'), (1, '화'), (2, '수'), (3, '목'), (4, '금'), (5, '토'), (6, '일')]
0 월
1 화
2 수
3 목
4 금
5 토
6 일

In [49]:
days = ["월", "화", "수", "목", "금", "토", "일"]
food = ["커피", "쌀국수", "피자", "햄버거", "국밥"]

menu = zip(days, food)
# print(list(menu))

for d, f in menu:
    print("%s요일 메뉴는 %s" %(d,f))

월요일 메뉴는 커피
화요일 메뉴는 쌀국수
수요일 메뉴는 피자
목요일 메뉴는 햄버거
금요일 메뉴는 국밥

In [51]:
days = ["월", "화", "수", "목", "금", "토", "일"]
food = ["커피", "쌀국수", "피자", "햄버거", "국밥"]

menu = zip(days, food)
# print(list(menu))

for f in menu:
    print(f)

('월', '커피')
('화', '쌀국수')
('수', '피자')
('목', '햄버거')
('금', '국밥')

In [50]:
v1 = [1,2,3]
v2 = [10,20,30]
v3 = [100,200,300]

result = [a+b+c for a,b,c in zip(v1,v2,v3)]
print(result)

[111, 222, 333]

In [53]:
v1 = [1,2,3]
v2 = [10,20,30]
v3 = [100,200,300]

result = [sum(a) for a in zip(v1,v2,v3)]
print(result)

[111, 222, 333]