## 연산자와 데이터

In [2]:
# 산술 연산
a = 10
b = 35

print(a + b)
print(a - b)
print(a * b)
print(a / b)

45
-25
350
0.2857142857142857

In [8]:
c = "apple "
d = 10

print(c + str(d))
# 문자열의 반복
print(c * d)

apple apple apple apple apple apple apple apple apple apple
apple 10

## 표준 입출력

In [3]:
a = int(input("밑변 입력 : "))
b = int(input("높이 입력 : "))

print(a, b, sep = ", ")
print("넓이는 : ", a*b)

밑변 입력 : 10
높이 입력 : 20
10, 20
넓이는 :  200

## 제어문

In [6]:
score = int(input("점수 입력 : "))

if score >= 90:
    print("합격")
elif score >= 70:
    print("재시험")
else:
    print("탈락")

점수 입력 : 70
재시험

## [ 문제 ] 정수 하나를 입력받아 5의 배수인지 조사하여 그 결과를 출력

In [11]:
num = int(input("정수 입력 : "))

if num % 5 == 0 :
    print("5의 배수")
else :
    print("5의 배수가 아닙니다")

정수 입력 : 14
5의 배수가 아닙니다

In [13]:
num = int(input("정수 입력 : "))

if num % 5 :
    print("5의 배수 아님")
else :
    print("5의 배수")

정수 입력 : 15
5의 배수

In [14]:
num = int(input("정수 입력 : "))

print("5의 배수" if num % 5 == 0 else "5의 배수 아님")

정수 입력 : 1
5의 배수 아님

## [ 문제 ] 연도를 입력받아 윤년인지를 판단하는 프로그램

In [25]:
year = int(input("연도 입력 : "))

leap_year = "윤년" if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0 else "평년"

print(year, "년도는", leap_year, "입니다.")

연도 입력 : 2100
2100 년도는 평년 입니다.

## 반복분

In [26]:
sum = 0
for i in range(1, 11):
    sum += i
print(sum)

55

### ---------+---------+---------+---------+---------+ 문자열 만들기

In [28]:
line = ""
for j in range(1, 6):
    for i in range(1,11):
        if not i % 10:
            line += "+"
        else:
            line += "-"
print(line)

---------+---------+---------+---------+---------+

In [30]:
for i in range(1, 6):
    print("-"*9, end="")
    print("+", end="")

---------+---------+---------+---------+---------+

In [32]:
word = "I have a dream!"

for s in word:
    print (s, end =",")

I, ,h,a,v,e, ,a, ,d,r,e,a,m,!,

In [33]:
a = [1, 2, 3, 4]
result = []

for i in a:
    result.append(i*3)
print(result)

[3, 6, 9, 12]

In [37]:
a = [1, 2, 3, 4]
result = [i*3 for i in a]

print(result)

[3, 6, 9, 12]

In [38]:
a = [1, 2, 3, 4]
result = []

for i in a:
    if not i % 2:
        result.append(i*3)
print(result)

[6, 12]

In [39]:
a = [1, 2, 3, 4]
result = [i*3 for i in a if i % 2 == 0]
print(result)

[6, 12]

In [42]:
result = [x*y for x in range(2, 10) for y in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [44]:
while True:
    s = input("영어 단어를 입력 (q 는 종료) : ")
    if s == 'q': break
    print(s)
print("END")

영어 단어를 입력 (q 는 종료) : q
END

## [ 문제 ] 입력받은 단의 구구단을 출력 하는 프로그램 작성

In [47]:
num = int(input("1~9 사이의 숫자를 입력 : "))

print([4*i for i in range(1,10)])

1~9 사이의 숫자를 입력 : 4
[4, 8, 12, 16, 20, 24, 28, 32, 36]

In [48]:
dan = int(input("단을 입력 : "))

for i in range(1, 10):
    print(dan, "*", i, "=", dan*i)

단을 입력 : 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36