# 1. Package Import

In [1]:
import numpy as np
import pandas as pd

# 2. 두개의 파일을 읽어온 후, 파일의 정보 출력
> `place` : 대여소 정보\
> `rent_info` : 대여 정보

In [8]:
place = pd.read_excel('./files/data/서울특별시 공공자전거 대여소 정보(19.12.9).xlsx')
rent_info = pd.read_csv('./files/data/서울특별시 공공자전거 대여정보_201911_2.csv')

In [9]:
print(place.info())
print("="*45)
print(rent_info.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1541 entries, 0 to 1540
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소_구   1541 non-null   object
 1   대여소ID   1540 non-null   float64
 2   대여소명    1541 non-null   object
 3   대여소주소   1540 non-null   object
 4   위도      1540 non-null   float64
 5   경도      1540 non-null   float64
 6   기준시작일자  1540 non-null   object
 7   거치대수    1541 non-null   int64
dtypes: float64(3), int64(1), object(4)
memory usage: 96.4+ KB
None
=============================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678830 entries, 0 to 678829
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자전거번호     678830 non-null  object
 1   대여일시      678830 non-null  object
 2   대여 대여소번호  678830 non-null  int64
 3   대여 대여소명   678830 non-null  object
 4   대여거치대     678830 non-null  int64
 5   반납일시      678830 non-null  object
 6   반납대여소번호   678830 non-null  int64
 7   반납대여소명    678830 non-null  object
 8   반납거치대     678830 non-null  int64
 9   이용시간      678830 non-null  int64
 10  이용거리      678830 non-null  float64
dtypes: float64(1), int64(5), object(5)
memory usage: 57.0+ MB
None

# 3. NaN, Null 값의 개수 확인
> NA값이 들어있는 데이터 삭제 `dropna`

In [16]:
place.isna().sum()

대여소_구     0
대여소ID     0
대여소명      0
대여소주소     0
위도        0
경도        0
기준시작일자    0
거치대수      0
dtype: int64

In [21]:
place[place['대여소ID'].isnull()]

Empty DataFrame
Columns: [대여소_구, 대여소ID, 대여소명, 대여소주소, 위도, 경도, 기준시작일자, 거치대수]
Index: []

In [11]:
place = place.dropna()
place

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5
1,마포구,102.0,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42:06,20
2,마포구,103.0,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43:13,14
3,마포구,104.0,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44:31,13
4,마포구,105.0,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45:30,5
...,...,...,...,...,...,...,...,...
1535,종로구,464.0,삼청동 골목,종로구 팔판길 46,37.584190,126.981697,2019.08.16,10
1536,관악구,2185.0,대학동 고시촌,서울특별시 관악구 신림로 97 밀라트,37.470467,126.938652,2019.09.26,10
1537,서초구,2265.0,2265. 이수고가차도 남단,서울특별시 서초구 동작대로 204 청남빌딩,37.494743,126.983063,2017-08-09 11:16:28,10
1538,종로구,465.0,465. 삼청공원 앞,서울특별시 종로구 삼청동 25-32,37.587605,126.983597,2019.11.20,5
1539,종로구,664.0,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019.11.20,10

# 4. Data Type 변환

In [20]:
place['대여소ID'] = place['대여소ID'].astype('int32')
place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1540 entries, 0 to 1539
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소_구   1540 non-null   object
 1   대여소ID   1540 non-null   int32
 2   대여소명    1540 non-null   object
 3   대여소주소   1540 non-null   object
 4   위도      1540 non-null   float64
 5   경도      1540 non-null   float64
 6   기준시작일자  1540 non-null   object
 7   거치대수    1540 non-null   int64
dtypes: float64(2), int32(1), int64(1), object(4)
memory usage: 102.3+ KB

In [23]:
# place['기준시작일자'] = pd.to_datetime(place['기준시작일자'])
# '개통'이란 문자열이 들어가 있음, . 을 - 로 변경해 주어야 한다

place['기준시작일자'] = place['기준시작일자'].replace('개통', '', regex = True)
place['기준시작일자'] = pd.to_datetime(place['기준시작일자'])
place.info()

In [26]:
place.head(10)
place.tail(10)

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
1530,성북구,1377,한국과학기술연구원 후문,서울특별시 성북구 화랑로14길 5,37.603958,127.045341,2019-05-21 00:00:00,10
1531,은평구,972,수색역,수색로 261,37.582180,126.894943,2019-06-14 00:00:00,20
1532,종로구,462,신영동삼거리(북악터널방향),종로구 평창문화로 6-4,37.603512,126.962067,2019-06-20 00:00:00,15
1533,구로구,2801,대륭포스트타워1차,구로구 디지털로31길 33-1,37.484371,126.895424,2019-07-18 00:00:00,30
1534,마포구,440,하늘공원 입구,마포구 하늘공원로 108-2,37.570006,126.881149,2019-08-02 00:00:00,15
1535,종로구,464,삼청동 골목,종로구 팔판길 46,37.584190,126.981697,2019-08-16 00:00:00,10
1536,관악구,2185,대학동 고시촌,서울특별시 관악구 신림로 97 밀라트,37.470467,126.938652,2019-09-26 00:00:00,10
1537,서초구,2265,2265. 이수고가차도 남단,서울특별시 서초구 동작대로 204 청남빌딩,37.494743,126.983063,2017-08-09 11:16:28,10
1538,종로구,465,465. 삼청공원 앞,서울특별시 종로구 삼청동 25-32,37.587605,126.983597,2019-11-20 00:00:00,5
1539,종로구,664,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019-11-20 00:00:00,10

In [14]:
rent_info

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-04392,2019-11-28 23:07:06,2377,수서역 5번출구 뒤,9,2019-11-28 23:18:44,1203,밀리아나2빌딩 앞,5,11,1980.0
1,SPB-23502,2019-11-28 22:43:23,2613,잠실나들목,3,2019-11-29 00:07:07,1203,밀리아나2빌딩 앞,1,82,11130.0
2,SPB-11498,2019-11-29 00:04:35,1256,문정현대아파트 교차로,6,2019-11-29 00:11:24,1203,밀리아나2빌딩 앞,14,6,800.0
3,SPB-16665,2019-11-29 00:02:57,1278,송파구청 교차로,9,2019-11-29 00:21:18,1203,밀리아나2빌딩 앞,2,18,3730.0
4,SPB-14688,2019-11-29 00:17:16,1230,송파중학교 정문,5,2019-11-29 00:26:36,1203,밀리아나2빌딩 앞,3,9,1370.0
...,...,...,...,...,...,...,...,...,...,...,...
678825,SPB-07983,2019-11-26 08:27:07,2183,동방1교,2,2019-11-26 09:31:27,99999,영남단말기정비,5,59,8520.0
678826,SPB-24906,2019-11-27 08:26:19,2141,미림여고입구 교차로,2,2019-11-27 09:26:19,99999,영남단말기정비,5,59,8680.0
678827,SPB-17861,2019-11-28 08:11:43,2183,동방1교,4,2019-11-28 08:54:39,99999,영남단말기정비,5,40,10570.0
678828,SPB-17173,2019-11-29 08:12:31,2183,동방1교,1,2019-11-29 09:17:29,99999,영남단말기정비,5,64,10560.0
678829,SPB-17714,2019-11-29 11:47:16,99999,영남단말기정비,5,2019-11-29 13:04:17,99999,영남단말기정비,5,76,2420.0

In [15]:
rent_info['대여 대여소번호'] = rent_info['대여 대여소번호'].astype('int32')
rent_info['반납대여소번호'] = rent_info['반납대여소번호'].astype('int32')
rent_info['대여일시'] = pd.to_datetime(rent_info['대여일시'])
rent_info['반납일시'] = pd.to_datetime(rent_info['반납일시'])

rent_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678830 entries, 0 to 678829
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자전거번호     678830 non-null  object
 1   대여일시      678830 non-null  datetime64[ns]
 2   대여 대여소번호  678830 non-null  int32
 3   대여 대여소명   678830 non-null  object
 4   대여거치대     678830 non-null  int64
 5   반납일시      678830 non-null  datetime64[ns]
 6   반납대여소번호   678830 non-null  int32
 7   반납대여소명    678830 non-null  object
 8   반납거치대     678830 non-null  int64
 9   이용시간      678830 non-null  int64
 10  이용거리      678830 non-null  float64
dtypes: datetime64[ns](2), float64(1), int32(2), int64(3), object(3)
memory usage: 51.8+ MB

# 5. 대여소가 있는 구 목록, 개수 출력

In [57]:
cnt = place['대여소_구'].unique()

In [58]:
print('대여소 구 :', cnt, '구 개수 :', len(cnt), sep="\n")

대여소 구 :
['마포구' '서대문구' '영등포구' '중구' '종로구' '광진구' '성동구' '동대문구' '양천구' '용산구' '은평구' '강동구'
 '강서구' '송파구' '성북구' '중랑구' '강북구' '노원구' '도봉구' '금천구' '구로구' '동작구' '관악구' '서초구'
 '강남구']
구 개수 :
25

In [31]:
place.groupby(by='대여소_구')['대여소ID'].count()

대여소_구
강남구     99
강동구     57
강북구     39
강서구     85
관악구     51
광진구     59
구로구     64
금천구     45
노원구     68
도봉구     33
동대문구    51
동작구     41
마포구     79
서대문구    51
서초구     89
성동구     63
성북구     58
송파구     99
양천구     55
영등포구    89
용산구     39
은평구     63
종로구     68
중구      43
중랑구     52
Name: 대여소ID, dtype: int64

# 6. 대여소 구별 거치대 수

In [44]:
place.groupby(by="대여소_구")['거치대수'].sum()

대여소_구
강남구     1218
강동구      763
강북구      451
강서구     1002
관악구      640
광진구      841
구로구      788
금천구      560
노원구      879
도봉구      396
동대문구     659
동작구      501
마포구     1075
서대문구     667
서초구     1227
성동구      780
성북구      726
송파구     1298
양천구      677
영등포구    1250
용산구      538
은평구      716
종로구      784
중구       493
중랑구      616
Name: 거치대수, dtype: int64

# 7. 거치대 수의 합계, 평균, 최대, 최소 출력
>합계별 내림차순으로 정렬\
>10개 출력

In [61]:
bi_grp = place.groupby(by='대여소_구')['거치대수'].agg([sum, np.mean, max, min])

In [51]:
bi_grp.sort_values(by = 'sum', ascending = False).head(10)

        sum       mean  max  min
대여소_구
송파구    1298  13.111111   30    7
영등포구   1250  14.044944   40    6
서초구    1227  13.786517   25    7
강남구    1218  12.303030   30    5
마포구    1075  13.607595   40    5
강서구    1002  11.788235   25    6
노원구     879  12.926471   20    7
광진구     841  14.254237   40    5
구로구     788  12.312500   30    5
종로구     784  11.529412   21    5

In [52]:
place.groupby(by='대여소_구')['거치대수'].agg([sum, np.mean, max, min]).sort_values(by = 'sum', ascending = False).head(10)

        sum       mean  max  min
대여소_구
송파구    1298  13.111111   30    7
영등포구   1250  14.044944   40    6
서초구    1227  13.786517   25    7
강남구    1218  12.303030   30    5
마포구    1075  13.607595   40    5
강서구    1002  11.788235   25    6
노원구     879  12.926471   20    7
광진구     841  14.254237   40    5
구로구     788  12.312500   30    5
종로구     784  11.529412   21    5

# 8. 대여소 정보 join 대여 정보
>`merge`사용\
>`left_on` = '대여소ID', `right_on` = '대여 대여소번호' 사용

In [87]:
rent_bicycle = pd.merge(place, rent_info, left_on='대여소ID', right_on='대여 대여소번호')
# rent_bicycle = place.merge(rent_info, left_on='대여소ID', right_on='대여 대여소번호')

In [88]:
display(rent_bicycle.head(10))

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-23976,2019-11-04 19:57:12,101,(구)합정동 주민센터,3,2019-11-04 21:21:10,1231,잠실역 6번출구,1,81,63150.0
1,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-08747,2019-11-02 01:50:14,101,(구)합정동 주민센터,5,2019-11-02 02:30:11,2016,신대방삼거리역 3번출구쪽,5,40,8920.0
2,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-16380,2019-11-09 01:31:57,101,(구)합정동 주민센터,1,2019-11-09 02:14:43,2016,신대방삼거리역 3번출구쪽,5,42,8890.0
3,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-15723,2019-11-16 01:51:54,101,(구)합정동 주민센터,1,2019-11-16 02:28:24,2016,신대방삼거리역 3번출구쪽,6,36,8850.0
4,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-20417,2019-11-09 20:28:51,101,(구)합정동 주민센터,1,2019-11-09 22:12:52,2113,관악동작견인차량보관소,7,98,13120.0
5,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-20022,2019-11-09 20:30:23,101,(구)합정동 주민센터,4,2019-11-09 22:13:25,2113,관악동작견인차량보관소,10,100,14680.0
6,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-14571,2019-11-05 10:01:00,101,(구)합정동 주민센터,1,2019-11-05 10:11:24,2307,압구정 한양 3차 아파트,6,9,2280.0
7,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-07827,2019-11-01 01:38:13,101,(구)합정동 주민센터,1,2019-11-01 03:36:18,3508,화양사거리,6,109,20020.0
8,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-22373,2019-11-12 15:48:30,101,(구)합정동 주민센터,2,2019-11-12 17:05:05,3515,서울숲 관리사무소,1,73,16170.0
9,마포구,102,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42:06,20,SPB-22110,2019-11-13 17:54:09,102,망원역 1번출구 앞,17,2019-11-13 18:07:27,1663,동해문화예술관앞,20,12,2750.0

In [89]:
rent_bicycle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 677505 entries, 0 to 677504
Data columns (total 19 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   대여소_구     677505 non-null  object
 1   대여소ID     677505 non-null  int32
 2   대여소명      677505 non-null  object
 3   대여소주소     677505 non-null  object
 4   위도        677505 non-null  float64
 5   경도        677505 non-null  float64
 6   기준시작일자    677505 non-null  datetime64[ns]
 7   거치대수      677505 non-null  int64
 8   자전거번호     677505 non-null  object
 9   대여일시      677505 non-null  datetime64[ns]
 10  대여 대여소번호  677505 non-null  int32
 11  대여 대여소명   677505 non-null  object
 12  대여거치대     677505 non-null  int64
 13  반납일시      677505 non-null  datetime64[ns]
 14  반납대여소번호   677505 non-null  int32
 15  반납대여소명    677505 non-null  object
 16  반납거치대     677505 non-null  int64
 17  이용시간      677505 non-null  int64
 18  이용거리      677505 non-null  float64
dtypes: datetime64[ns](3), float64(3), int32(3), int64(4), object(6)
memory usage: 95.6+ MB

# 9. 각 구별 이용시간,  이동거리의 평균, 최대, 최소를 출력
> 구를 index로 사용

In [90]:
rent_grp = rent_bicycle.groupby('대여소_구')

In [95]:
rent_dis = rent_grp[['이용시간', '이용거리']].agg([np.mean, max, min]).round(2)

In [96]:
rent_dis.sort_index().head(10)

        이용시간               이용거리
        mean   max min     mean       max  min
대여소_구
강남구    23.38   740   1  3193.73  100980.0  0.0
강동구    26.26   237   1  4128.65   71170.0  0.0
강북구    19.49   772   1  2541.26  111530.0  0.0
강서구    17.30   383   1  3037.66  129700.0  0.0
관악구    20.47   666   1  2929.80  185110.0  0.0
광진구    21.52  1000   1  2884.61  172320.0  0.0
구로구    19.57   969   1  2691.20  155830.0  0.0
금천구    19.54   370   1  2769.89   95250.0  0.0
노원구    20.38  1719   1  2661.16   79820.0  0.0
도봉구    20.76   701   1  2883.36   81020.0  0.0